.App {
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: purple;
  color: #fff;
  padding: 10px;
}

.nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav ul li {
  margin: 0 15px;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.dashboard-container {
  width: 600px;
  margin: 50px auto;
}

.dashboard-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

.dashboard-row a {
  color:  black;
}

.dashboard-container:nth-child(odd){
  background: rgb(102, 127, 182);
  color: #fff;
}

.row-section {
  display: flex;
  justify-content: space-around;
}

.row-section div {
  margin: 0 15px;
}

.symbol {
  text-align: left;
  width: 75px;
}

.name {
  text-align: left;
  width: 200px;
}

.exchange {
  text-align: right;
  width: 100px;
}

.currency {
  text-align: right;
  width: 75px;
}